/*General Styles */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 5000px;
  overflow-x: hidden; /* Esto previene cualquier desbordamiento horizontal */
}

body {
  padding: 0;
  margin: 0 auto;
  /* padding-top: 80px;  Add top padding to the body that equals the header height */
  font-family: Assistant, sans-serif;
}

/* Reset some default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Or if you have a main content container, add the padding there */
main {
  padding-top: 60px; /* Add top padding to the main content container */
}
